@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');


.App{
  font-family: 'Poppins', sans-serif;
}


.theme-dark {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --border-color: #333333;
}


@layer utilities {
  .bg-primary {
    @apply bg-gray-950 
  }
  .bg-secondary {
    @apply bg-gray-850
  }
  .text-primary {
    @apply text-gray-550
  }
  .text-secondary {
    @apply text-gray-650
  }
  .border-dark {
    @apply  border-gray-750
  }
  .padding-container {
    @apply px-6 lg:px-32 3xl:px-0;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .max-container {
    @apply mx-auto max-w-[1920px];
  }
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

select { 
  /* for Firefox */ 
  -moz-appearance: none; 
  /* for Safari, Chrome, Opera */ 
  -webkit-appearance: none; 
} 



.blob {
  animation: moveBlob 2s infinite;
  z-index: 10;
}

@keyframes moveBlob {
  0%, 100% {
      left: -5%;
  }
  50% {
      left: 105%;
  }
}


@keyframes changeColor {
  0% {
    background-color:  ; /* Initial color */
  }
  50% {
    background-color: ; /* Intermediate color */
  }
  100% {
    background-color:  ; /* Final color, same as initial for a smooth transition */
  }
}

.changeColor {
  animation: changeColor 2s infinite;

}

input {
  color-scheme: dark;
}